*{
    margin:0;
    padding:0;
    box-sizing: border-box;    
}

body{   
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    @media (max-width:767px){
        font-size: 12px;       
    }
}
p{
    margin-bottom: 15px;
}