/* button css for the site */
$clr-white: #fff;
$bg-primary: #2E3092;
$bg-primary_2: #252675;
$border-primary: #2E3092;
$border-primary_2: #252675;

.btn{
    border-radius: 2.0rem;
	&.btn-rp{
		padding:8px 20px;
		font-weight: 600;
		font-size: 13px;
	}
}

.btn-primary {
	color: $clr-white;
	background-color: $bg-primary;
	border-color: $border-primary;
	&:hover {
		color: $clr-white;
		background-color: $bg-primary_2;
		border-color: $border-primary_2;
	}
	&:focus {
		color: $clr-white;
		background-color: $bg-primary_2;
		border-color: $border-primary_2;
		box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
	}
}
.btn-check {
	&:focus {
		+ {
			.btn-primary {
				color: $clr-white;
				background-color: $bg-primary_2;
				border-color: $border-primary_2;
				box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
			}
		}
	}
}

$clr-primary: #2E3092;
$bg-light: #f8f9fa;
$bg-light_2: #f9fafb;
$border-light: #f8f9fa;
$border-light_2: #f9fafb;

.btn-light {
	color: $clr-primary;
	background-color: $bg-light;
	border-color: $border-light;
	&:hover {
		color: $clr-primary;
		background-color: $bg-light_2;
		border-color: $border-light_2;
	}
	&:focus {
		color: $clr-primary;
		background-color: $bg-light_2;
		border-color: $border-light_2;
		box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
	}
	&:active {
		color: $clr-primary;
		background-color: $bg-light_2;
		border-color: $border-light_2;
	}
}
.btn-check {
	&:focus {
		+ {
			.btn-light {
				color: $clr-primary;
				background-color: $bg-light_2;
				border-color: $border-light_2;
				box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
			}
		}
	}
	&:active {
		+ {
			.btn-light {
				color: $clr-primary;
				background-color: $bg-light_2;
				border-color: $border-light_2;
			}
		}
	}
	&:checked {
		+ {
			.btn-light {
				color: $clr-primary;
				background-color: $bg-light_2;
				border-color: $border-light_2;
			}
		}
	}
}
.btn-light.active {
	color: $clr-primary;
	background-color: $bg-light_2;
	border-color: $border-light_2;
}
.show {
	>.btn-light.dropdown-toggle {
		color: $clr-primary;
		background-color: $bg-light_2;
		border-color: $border-light_2;
	}
}

.btn-pd-rp{
	padding:14px 24px;
}
.btn-pd-rp2{
	padding: 8px 24px;
}
.form-check-input[type="checkbox"]{
	border-radius: 50%;
}
.form-check-input{
	&:checked{
		background-color: $clr-primary;
		border-color:$clr-primary;
	}
}

.btn-dot,.btn-dot:hover{
	padding:4px 10px;
	font-weight: 600;
	margin: auto;
	display: flex;
	align-items: center;
	&:before{
		content:"";
		width:5px;
		height:5px;
		border-radius:5px;
		margin-right: 5px;
		display: inline-block;
		background-color: inherit;
		border-color:inherit;
	 }
	&.btn-outline-primary{
		background-color: #F5FBFE;
		color:#008CBD;
		&:before{                       
		   background-color: #008CBD;
		}
	}
	&.btn-outline-secondary{
		background-color: #F5FBFE;
		color:#64748B;
		&:before{                       
			background: #64748B;
		 }
	}
	&.btn-outline-success{
		background-color: #F5FCF8;
		color:#007036;
		&:before{                       
			background: #007036;
		 }
	}
	&.btn-outline-danger{
		background-color: #FEF4F5;
		color:#EF233C;
		&:before{                       
			background: #EF233C;
		 }
	}
}