@use 'rp-items/rp-universal';
@use 'rp-items/rp-coltype';
@use 'rp-items/rp-listtype';
@use 'rp-items/rp-flextype';
@use 'rp-items/rp-headingtype';
@use 'rp-items/rp-piecircletype';
@use 'rp-items/rp-usermenu';
@use 'rp-items/rp-breadcrumb';

.year-links .btn,.year-options{
    font-size: 12px;
}
.year-links{
    &.d-flex{
        column-gap: 12px;
        .btn{
            white-space: nowrap;
        }
    }
}

.filter-item-wrapper{    
    .filter-item-hide{
        height:0;
        visibility: hidden;
        border: 0 none!important;
        padding:0!important;
        margin:0!important;
    }
}


.rp-container{
    padding-left:calc(var(--rp-gutter-x) * 0.75);
    padding-right:calc(var(--rp-gutter-x) * 0.75);
    @media(min-width:768px){
        padding-left:calc(var(--rp-gutter-x) * 2);
        padding-right:calc(var(--rp-gutter-x) * 2);
    }
}

