@charset "UTF-8";
.navbar-nav {
  row-gap: 12px;
}
.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 15px;
  font-size: 16px;
  color: #27364B;
}
.navbar-nav .nav-link.active {
  color: var(--rp-primary-clr);
  background-color: #F6FAFF;
  position: relative;
}
.navbar-nav .nav-link.active:before {
  content: "›";
  display: block;
  position: absolute;
  right: 15px;
  font-size: 24px;
}
.navbar-nav .icon-holder {
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler {
  display: none;
}

.navclose-btn {
  display: none;
}

@media (max-width: 991px) {
  .navbar-toggler {
    display: inline-block;
    padding: 0;
    margin-right: 15px;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.2s linear;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: flex-start;
    z-index: 9;
    padding: 0;
  }
  .navbar.slide {
    transform: translateX(0);
    transition: 0.2s linear;
  }
  .navbar .navbar-collapse {
    width: 100%;
    background-color: #fff;
    flex-grow: inherit;
    flex-basis: auto;
    height: 100%;
    padding: 45px 15px;
    position: relative;
  }
  .navbar .navclose-btn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 40px;
    padding: 0;
    height: auto;
    line-height: 1;
    display: block;
  }
}
.section-cibilbox {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #E2E8F0;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06);
}
.section-cibilbox .nav-pills {
  border-right: 1px solid #E2E8F0;
}
.section-cibilbox .nav-pills .nav-link {
  min-height: 64px;
  min-width: 148px;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid #E2E8F0;
  border-left: 4px solid transparent;
}
.section-cibilbox .nav-pills .nav-link.active {
  border-left: 4px solid var(--rp-primary-clr);
}
.section-cibilbox .nav-pills .nav-link:last-child {
  border-bottom: 0 none;
}
.section-cibilbox .section-heading {
  font-size: clamp(14px, 3vw, 16px);
}
.section-cibilbox p {
  font-size: clamp(11px, 3vw, 12px);
  margin-bottom: 30px;
}
.section-cibilbox .tab-pane {
  height: 100%;
  padding: 15px;
}
.section-cibilbox .tab-pane .tab-pane-content {
  height: 100%;
  gap: 30px;
}
@media (max-width: 767px) {
  .section-cibilbox .nav-pills {
    flex-wrap: nowrap;
    overflow: auto;
  }
  .section-cibilbox .nav-pills .nav-link span {
    font-size: 13px;
    font-weight: 600;
    color: #94A3B8;
  }
  .section-cibilbox .nav-pills .nav-link.active {
    border-left: 0 none;
    border-bottom: 4px solid var(--rp-primary-clr);
  }
  .section-cibilbox .nav-pills .nav-link.active span {
    color: var(--rp-primary-clr);
  }
  .section-cibilbox .tab-pane .tab-pane-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-cibilbox .tab-pane .score-meter {
    margin: 15px 0;
  }
  .section-cibilbox .tab-pane .text-box .btn {
    width: 100%;
  }
}

.section-offers .offer-card-box > .card-body {
  background-color: #F6FAFF;
}
.section-offers .offer-card-box > .card-body > .card {
  margin-bottom: 15px;
}
.section-offers .offer-card-box > .card-body > .card .card-body {
  padding: 0;
}
.section-offers .offer-card-box > .card-body > .card:last-child {
  margin-bottom: 0;
}
.section-offers .rp-coltype-item .icon-holder {
  width: 48px;
  height: 48px;
  border-radius: 0;
}
.section-offers .rp-coltype-item .list-checked {
  margin-bottom: 0;
}
.section-offers .rp-coltype-item .list-checked li {
  display: inline-block;
  font-size: 11px;
  margin-left: 15px;
  letter-spacing: -0.0032em;
}
.section-offers .rp-coltype-item .text-holder {
  position: relative;
  padding-left: 15px;
}
.section-offers .rp-coltype-item .text-holder:before {
  content: "";
  height: 100%;
  width: 1px;
  display: block;
  position: absolute;
  left: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}
.section-offers .rp-coltype-item .item-button-col {
  justify-content: center;
}

@media (max-width: 767px) {
  .section-offers .offer-card-box {
    border: 0 none;
  }
  .section-offers .offer-card-box > .card-body {
    background-color: transparent;
    padding: 0;
    display: flex;
    overflow: auto;
  }
  .section-offers .offer-card-box > .card-body .offer-card {
    min-width: 95%;
    margin-bottom: 0 !important;
  }
  .section-offers .offer-card-box > .card-body .offer-card + .offer-card {
    margin-left: 15px;
  }
  .section-offers .offer-card-box .rp-coltype-item .item-icontext-col {
    flex-direction: column;
    align-items: flex-start;
  }
  .section-offers .offer-card-box .rp-coltype-item .text-holder {
    padding-left: 0;
  }
  .section-offers .offer-card-box .rp-coltype-item .text-holder::before {
    display: none;
  }
  .section-offers .offer-card-box .rp-coltype-item .text-holder label {
    margin-bottom: 15px;
  }
  .section-offers .offer-card-box .rp-coltype-item .list-checked li {
    display: block;
  }
}
.section-scorefactors .rp-coltype-item {
  padding-top: 0;
  padding-bottom: 0;
}
.section-scorefactors .item-col {
  border: 1px solid #E2E8F0;
  border-radius: 4px;
  padding: 16px;
  row-gap: 5px;
}
.section-scorefactors .item-col span {
  font-weight: 600;
}
.section-scorefactors .item-col label {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.section-scorefactors .item-col .alert {
  padding: 2px 8px;
  font-weight: 600;
  font-size: 9px;
  margin-left: 8px;
  margin-bottom: 0;
  letter-spacing: -0.0032em;
}

@media (max-width: 767px) {
  .section-scorefactors .factors-row {
    overflow: auto;
    padding-bottom: 15px;
    flex-wrap: nowrap;
  }
  .section-scorefactors .rp-coltype-item {
    min-width: 205px;
  }
}
.section-youraccounts .cards-block, .section-youraccounts2 .cards-block {
  row-gap: 24px;
}
.section-youraccounts .cards-block-title, .section-youraccounts2 .cards-block-title {
  font-size: 11px;
  text-transform: uppercase;
}
.section-youraccounts .rp-coltype-item, .section-youraccounts2 .rp-coltype-item {
  display: flex;
  justify-content: space-between;
}
.section-youraccounts .item-col, .section-youraccounts2 .item-col {
  padding: 0;
}
.section-youraccounts .item-col.item-button-col .btn, .section-youraccounts2 .item-col.item-button-col .btn {
  font-size: 10px;
  margin-left: auto;
}
@media (max-width: 767px) {
  .section-youraccounts:not(.section-scroll) .cards-block, .section-youraccounts2:not(.section-scroll) .cards-block {
    row-gap: 0;
  }
  .section-youraccounts:not(.section-scroll) .card, .section-youraccounts2:not(.section-scroll) .card {
    border: 0 none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .section-youraccounts.section-scroll .cards-block, .section-youraccounts2.section-scroll .cards-block {
    overflow: auto;
    flex-wrap: nowrap;
    padding-bottom: 15px;
  }
}

.section-youraccounts2 .card + .card {
  margin-top: 24px;
}
@media (max-width: 767px) {
  .section-youraccounts2 .cards-block > div + div {
    margin-top: 24px;
  }
  .section-youraccounts2 .card + .card {
    margin-top: 0;
  }
}

.section-persoffers .offer-card {
  height: 100%;
}
.section-persoffers .rp-coltype-item {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  height: 100%;
}
.section-persoffers .rp-coltype-item .item-col {
  position: relative;
}
.section-persoffers .rp-coltype-item .item-col .item-badge {
  background: linear-gradient(224.77deg, #C28D5C 0%, #8F542F 139.62%);
  height: 20px;
  font-size: 10px;
  color: #fff;
  line-height: 1;
  display: flex;
  align-items: center;
  padding: 0 10px 0 15px;
  position: absolute;
  right: -16px;
}
.section-persoffers .rp-coltype-item .item-col .item-badge:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-width: 10px 0 10px 6px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}
.section-persoffers .rp-coltype-item .item-icontext-col {
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;
}
.section-persoffers .rp-coltype-item .item-button-col {
  margin-top: auto;
  align-self: flex-start;
}
.section-persoffers .rp-coltype-item .icon-holder {
  width: auto;
}
.section-persoffers .rp-coltype-item .icon-holder img {
  max-width: 100%;
}
.section-persoffers .rp-coltype-item ul.list-checked-o-2 {
  margin-top: 15px;
}
.section-persoffers .rp-coltype-item ul.list-checked-o-2 li {
  font-size: 12px;
}
.section-persoffers .rp-coltype-item ul.list-checked-o-2 li::before {
  top: 1px;
}
@media (max-width: 767px) {
  .section-persoffers .offer-card-box {
    overflow: auto;
    padding-bottom: 15px;
    flex-wrap: nowrap;
  }
  .section-persoffers .offer-card-box > div {
    max-width: 90%;
  }
  .section-persoffers .rp-coltype-item .item-button-col {
    align-self: auto;
  }
}

.section-faq .accordion-item {
  background-color: transparent;
  border: 0 none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 15px 0;
}
.section-faq .accordion-item:last-child {
  border-bottom: 0 none;
}
.section-faq .accordion-item .accordion-button {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.008em;
  padding: 5px 0;
}
.section-faq .accordion-item .accordion-button:not(.collapsed) {
  color: inherit;
  background-color: transparent;
  box-shadow: 0 0 0;
}
.section-faq .accordion-item .accordion-button:focus {
  outline: none;
  box-shadow: 0 0 0;
}
.section-faq .accordion-item .accordion-body {
  font-size: 13px;
  letter-spacing: -0.008em;
  line-height: 1.4;
  padding: 0;
}/*# sourceMappingURL=credit-score.css.map */