@charset "UTF-8";
.navbar-nav {
  row-gap: 12px;
}
.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 15px;
  font-size: 16px;
  color: #27364B;
}
.navbar-nav .nav-link.active {
  color: var(--rp-primary-clr);
  background-color: #F6FAFF;
  position: relative;
}
.navbar-nav .nav-link.active:before {
  content: "›";
  display: block;
  position: absolute;
  right: 15px;
  font-size: 24px;
}
.navbar-nav .icon-holder {
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler {
  display: none;
}

.navclose-btn {
  display: none;
}

@media (max-width: 991px) {
  .navbar-toggler {
    display: inline-block;
    padding: 0;
    margin-right: 15px;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.2s linear;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: flex-start;
    z-index: 9;
    padding: 0;
  }
  .navbar.slide {
    transform: translateX(0);
    transition: 0.2s linear;
  }
  .navbar .navbar-collapse {
    width: 100%;
    background-color: #fff;
    flex-grow: inherit;
    flex-basis: auto;
    height: 100%;
    padding: 45px 15px;
    position: relative;
  }
  .navbar .navclose-btn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 40px;
    padding: 0;
    height: auto;
    line-height: 1;
    display: block;
  }
}
.section-cibilbox {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #E2E8F0;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06);
}
.section-cibilbox .nav-pills {
  border-right: 1px solid #E2E8F0;
}
.section-cibilbox .nav-pills .nav-link {
  min-height: 64px;
  min-width: 148px;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid #E2E8F0;
  border-left: 4px solid transparent;
}
.section-cibilbox .nav-pills .nav-link.active {
  border-left: 4px solid var(--rp-primary-clr);
}
.section-cibilbox .nav-pills .nav-link:last-child {
  border-bottom: 0 none;
}
.section-cibilbox .section-heading {
  font-size: clamp(14px, 3vw, 16px);
}
.section-cibilbox p {
  font-size: clamp(11px, 3vw, 12px);
  margin-bottom: 30px;
}
.section-cibilbox .tab-pane {
  height: 100%;
  padding: 15px;
}
.section-cibilbox .tab-pane .tab-pane-content {
  height: 100%;
  gap: 30px;
}
@media (max-width: 767px) {
  .section-cibilbox .nav-pills {
    flex-wrap: nowrap;
    overflow: auto;
  }
  .section-cibilbox .nav-pills .nav-link span {
    font-size: 13px;
    font-weight: 600;
    color: #94A3B8;
  }
  .section-cibilbox .nav-pills .nav-link.active {
    border-left: 0 none;
    border-bottom: 4px solid var(--rp-primary-clr);
  }
  .section-cibilbox .nav-pills .nav-link.active span {
    color: var(--rp-primary-clr);
  }
  .section-cibilbox .tab-pane .tab-pane-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-cibilbox .tab-pane .score-meter {
    margin: 15px 0;
  }
  .section-cibilbox .tab-pane .text-box .btn {
    width: 100%;
  }
}

.section-applications {
  display: flex;
  flex-wrap: wrap;
}
.section-applications .heading-block {
  order: 1;
  align-self: flex-start;
  width: 70%;
}
.section-applications .view-more {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}
.section-applications .card {
  order: 3;
  width: 100%;
}
@media (max-width: 767px) {
  .section-applications .heading-block {
    order: 1;
    width: 100%;
  }
  .section-applications .card {
    order: 2;
    margin-bottom: 15px;
  }
  .section-applications .view-more {
    order: 3;
    width: 100%;
  }
  .section-applications .view-more .btn {
    width: 100%;
  }
  .section-applications .card {
    border: 0 none;
  }
  .section-applications .card-body {
    padding: 0;
  }
  .section-applications .rp-coltype-item {
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 0.25rem;
    row-gap: 15px;
  }
  .section-applications .rp-coltype-item.row {
    margin-bottom: 15px;
  }
  .section-applications .rp-coltype-item .icon-holder {
    min-width: 40px;
  }
  .section-applications.section-scroll .card-body {
    flex-wrap: nowrap;
    display: flex;
    overflow: auto;
    padding: 0 0 15px 0;
  }
  .section-applications.section-scroll .rp-coltype-item {
    min-width: 95%;
  }
  .section-applications.section-scroll .rp-coltype-item + .rp-coltype-item {
    margin-left: 15px;
  }
  .section-applications .item-icontext-col {
    order: 1;
  }
  .section-applications .item-button-col {
    order: 2;
  }
  .section-applications .item-button-col .btn {
    margin-right: inherit !important;
  }
  .section-applications .item-keyval-col {
    order: 3;
  }
  .section-applications .item-keyval-col:nth-of-type(3) {
    order: 4;
  }
}

.section-btbox, .section-btbox2 {
  background-color: #F6FAFF;
  padding: 24px 20px;
}
.section-btbox .section-heading, .section-btbox2 .section-heading {
  font-size: clamp(12px, 3vw, 16px);
  font-weight: 700;
}
.section-btbox p, .section-btbox2 p {
  font-size: clamp(11px, 2vw, 12px);
}
.section-btbox .btn.btn-updown, .section-btbox2 .btn.btn-updown {
  border-radius: 5px;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 60px;
  top: calc(50% - 36px);
  background-color: white;
}
.section-btbox .list-group-item, .section-btbox2 .list-group-item {
  display: flex;
  border: 0 none;
  padding: 0;
}
.section-btbox .list-group-item .icon-holder, .section-btbox .list-group-item .text-holder, .section-btbox2 .list-group-item .icon-holder, .section-btbox2 .list-group-item .text-holder {
  padding: 15px;
}
.section-btbox .list-group-item .icon-holder, .section-btbox2 .list-group-item .icon-holder {
  align-self: center;
  padding: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-btbox .list-group-item .text-holder label, .section-btbox2 .list-group-item .text-holder label {
  font-weight: 600;
}
.section-btbox .list-group-item:before, .section-btbox2 .list-group-item:before {
  content: "";
  width: calc(100% - 3rem);
  height: 1px;
  background-color: #CBD4E1;
  position: absolute;
  bottom: 0;
  left: 1.5rem;
}
.section-btbox .list-group-item:last-child::before, .section-btbox2 .list-group-item:last-child::before {
  display: none;
}

@media (max-width: 767px) {
  .section-btbox {
    background-color: transparent;
    padding: 0;
  }
}
.section-btbox2 > .row {
  align-items: center;
}
.section-btbox2 .flex-type2 {
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: center;
}
@media (max-width: 767px) {
  .section-btbox2 .flex-type2 {
    align-items: flex-start;
    flex-direction: column;
  }
  .section-btbox2 .btn {
    width: 100%;
  }
}

.section-offers .offer-card-box > .card-body {
  background-color: #F6FAFF;
}
.section-offers .offer-card-box > .card-body > .card {
  margin-bottom: 15px;
}
.section-offers .offer-card-box > .card-body > .card .card-body {
  padding: 0;
}
.section-offers .offer-card-box > .card-body > .card:last-child {
  margin-bottom: 0;
}
.section-offers .rp-coltype-item .icon-holder {
  width: 48px;
  height: 48px;
  border-radius: 0;
}
.section-offers .rp-coltype-item .list-checked {
  margin-bottom: 0;
}
.section-offers .rp-coltype-item .list-checked li {
  display: inline-block;
  font-size: 11px;
  margin-left: 15px;
  letter-spacing: -0.0032em;
}
.section-offers .rp-coltype-item .text-holder {
  position: relative;
  padding-left: 15px;
}
.section-offers .rp-coltype-item .text-holder:before {
  content: "";
  height: 100%;
  width: 1px;
  display: block;
  position: absolute;
  left: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}
.section-offers .rp-coltype-item .item-button-col {
  justify-content: center;
}

@media (max-width: 767px) {
  .section-offers .offer-card-box {
    border: 0 none;
  }
  .section-offers .offer-card-box > .card-body {
    background-color: transparent;
    padding: 0;
    display: flex;
    overflow: auto;
  }
  .section-offers .offer-card-box > .card-body .offer-card {
    min-width: 95%;
    margin-bottom: 0 !important;
  }
  .section-offers .offer-card-box > .card-body .offer-card + .offer-card {
    margin-left: 15px;
  }
  .section-offers .offer-card-box .rp-coltype-item .item-icontext-col {
    flex-direction: column;
    align-items: flex-start;
  }
  .section-offers .offer-card-box .rp-coltype-item .text-holder {
    padding-left: 0;
  }
  .section-offers .offer-card-box .rp-coltype-item .text-holder::before {
    display: none;
  }
  .section-offers .offer-card-box .rp-coltype-item .text-holder label {
    margin-bottom: 15px;
  }
  .section-offers .offer-card-box .rp-coltype-item .list-checked li {
    display: block;
  }
}/*# sourceMappingURL=dashboard.css.map */